<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="ContextoDoTuiter" providerName="System.Data.SqlServerCe.4.0"
                connectionString="Data Source=TuiterDb.sdf;"  />
    </connectionStrings>
</configuration>
