@model Biblioteca.Modelos.Usuario
@{
    ViewBag.Title = Model;
}

@if(Model != null) {
    <p>@Model</p> 
}
else {
    <p>User not found!</p> 
}

<hr />

@Html.Partial("_ListaDeTuitis", Model.Tuitis)
