@model Biblioteca.Modelos.Usuario
@{
    ViewBag.Title = Model;
}

@if(Model != null) {
    <p>@Model</p> 
}
else {
    <p>User not found!</p> 
}

<hr />
@using (Html.BeginForm("CriarTuiti", "Usuario")) {
    @Html.TextArea("textoDoTuiti")
    @Html.Hidden("idDoUsuario", Model.Id)
    <input type="submit" value="tuitar" />
}

@Html.Partial("_ListaDeTuitis", Model.Tuitis)
